{% extends "layout.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block index %}

{% if messages %}
<div class="flash-message">
  {% for category, message in messages %}


    {% if category == 'in_base' %}
    <ul class=flashes style="list-style: none; background-color:Cyan">
    <li class="{{ category }}">{{ message }}</li>
    </ul>
    {% endif %}
  {% if category == 'added' %}
    <ul class=flashes style="list-style: none; background-color:PaleGreen">
    <li class="{{ category }}">{{ message }}</li>
    </ul>
  {% endif %}
  {% if category == 'error' %}
    <ul class=flashes style="list-style: none; background-color:RosyBrown">
    <li class="{{ category }}">{{ message }}</li>
    </ul>
  {% endif %}
  {% endfor %}
 </div>
{% endif %}
<body>
  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайт: {{ url }}</h1>
        <div class="table-responsive">
          <table class="table table-bordered table-hover text-nowrap" data-test="url">
            <tbody >
              <tr>
                <td>ID</td>
                <td>{{ id }}</td>
              </tr>
              <tr>
                <td>Имя</td>
                <td>{{ url }}</td>
              </tr>
              <tr>
                <td>Дата создания</td>
                <td>{{ time }}</td>
              </tr>
            </tbody>

          </table>
        </div>
    </div>
  </main>
<h2 class="mt-5 mb-3">Проверки</h2>
  <form method="post" action="{{ check }}">

    <input type="submit" class="btn btn-primary" value="Запустить проверку">
  </form>
  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
      <thead>
        <tr>
          <th>ID</th>
          <th>Код ответа</th>
          <th>h1</th>
          <th>title</th>
          <th>description</th>
          <th>Дата создания</th>
        </tr>
      </thead>
      {% for line in table %}
      <tbody>
        <th>{{ line[1] }}</th>
          <th>{{ line[2] }}</th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{ line[6] }}</th>
      </tbody>{% endfor %}
    </table>
  </div>

</body>
{% endblock %}
