{% extends "layout.html" %}

{% block title %}Анализатор страниц{% endblock %}

{% block index %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<body>
  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайт: {{ url }}</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
          <tbody >
            <tr>
              <td>ID</td>
              <td>{{ id }}</td>
            </tr>
            <tr>
              <td>Имя</td>
              <td>{{ url }}</td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>{{ time }}</td>
            </tr>
          </tbody>
        </table>
      </div>


<h2 class="mt-5 mb-3">Проверки</h2>
  <form method="post" action="/urls/{{ id }}/checks">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
  </form>

<div>
  <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
      <tbody>
      {% for line in table %}
      <tr>
        <th style="font-weight: 400">{{ line[1] }}</th>
        <th style="font-weight: 400">{{ line[2] }}</th>
        <th style="font-weight: 400">{{ line[3] }}</th>
        <th style="font-weight: 400">{{ line[4] }}</th>
        <th style="font-weight: 400">{{ line[5] }}</th>
        <th style="font-weight: 400">{{ line[6] }}</th>
      </tr>
      {% endfor %}
      </tbody>
    </table>

</div>
    </div>
</main>
</body>
{% endblock %}
